<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_jJV6ZNQLXgWmmumzmVThyj5AXAsfHH0</string>
	<key>GCM_SENDER_ID</key>
	<string>799146387105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>halilkeremoglu.EventBuddy</string>
	<key>PROJECT_ID</key>
	<string>eventbuddy-b0a83</string>
	<key>STORAGE_BUCKET</key>
	<string>eventbuddy-b0a83.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799146387105:ios:d5e91b59dbb69013c872e0</string>
</dict>
</plist>